<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=devsolsql01.dev.local;Database=Dominion;User ID=DominionUser;Password=noinimoD;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>