<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" connectionString="Server=devsolsql01.dev.local;Database=Dominion;User ID=DominionUser;Password=2WsxdR5;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Remove">
      
    </rewrite>
  </system.webServer>
</configuration>
