
@{
    ViewBag.Title = "About";
}

<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>About</h1>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="float-left">
            <p>What are you doing wasting your life looking at About pages?  Get a hobby (for example Dominion)!</p>
            <p>Buy the way: <a href="https://www.amazon.com/Rio-Grande-Games-RGG370-Dominion/dp/B001JQY6K4" class="main-color">Buy the game here</a></p>
        </div>
    </div>
</header>