<div class="jumbotron">
    <h1>Dominion</h1>
    <p class="lead">Dominion is a deck-building game created by Donald X. Vaccarino and published by Rio Grande Games. Each player uses a separate deck of cards; players draw their hands from their own decks, not others'. Players use their cards to perform actions and buy cards from a common pool of card stacks, including Action, Treasure, and Victory cards. The player with the most victory points wins. The game has a light medieval theme, with card names that reference pre-industrial, monarchical, and feudal social structures.</p>
    <p><a href="../RatingList/Index" class="btn btn-primary btn-lg">Rating list &raquo;</a></p>
</div>

