@{
    ViewBag.Title = "Dominion";
    Layout = "../../Views/Shared/_LayoutNew.cshtml";
}

<div id="slider_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1">
    <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
    <div id="slider" class="rev_slider fullwidthabanner" style="display: none;" data-version="5.0.7">
        <ul>
            <li data-transition="fade" data-slotamount="7" data-saveperformance="off" class="dark">
                <img src="/assets/images/demos/intro/header.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <h1 class="tp-caption tp-resizeme white lg-slide-head uppercase" data-start="1200"
                    data-transform_idle="o:1;"
                    data-transform_in="y:-30px;rX:70deg;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']" data-voffset="['200','180','120','120']"
                    data-fontsize="['53','53','40','20']"
                    data-lineheight="['53','53','40','20']"
                    data-speed="800"
                    data-easing="easeOutQuad"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.1"
                    data-endspeed="1000"
                    data-endeasing="Power4.easeIn">
                    <span class="main-color">Dominion</span>
                </h1>

                <div class="tp-caption tp-resizeme slider-md-txt white t-center light-font" data-start="2000"
                     data-transform_idle="o:1;"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['top','top','top','top']" data-voffset="['300','280','190','170']"
                     data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;"
                     data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-fontsize="['22','24','16','12']"
                     data-lineheight="['28','28','22','20']"
                     data-speed="800"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn">
                    <span>
                        Dominion is a deck-building game created by Donald X. Vaccarino.
                    </span>
                    <br />
                    <br />
                    <span>
                        Check it out!
                    </span>
                </div>


                <div class="tp-caption ltl tp-resizeme margin-top-30" data-start="2400"
                     data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-fontsize="['19','19','19','15']"
                     data-lineheight="['19','19','19','15']"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['top','top','top','top']" data-voffset="['450','420','300','280']"
                     data-speed="800"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn">
                    <a class="btn main-bg new-angle btn-xl white" style="white-space: nowrap" href="../RatingList/"><span>Rating list</span></a>
                </div>
            </li>
        </ul>
    </div>
</div>

